<div class="container indexImage">
  <h1 id="indexHead">Chatty<h1>

  <h4 id="rightAlign"><a href="/chats">Go to the list of chatrooms you are in</a><h4>
  <h4 id="rightAlign"><a href="/chats/new">Create new chatroom</a><h4>
</div>
