<div class="container indexImage">
  <h1 id="indexHead">Chatertain<h1>
  <h3 id="indexHead">Have Fun, Love More and Be Chill</h2>


  <h4 id="rightAlign"><a href="/chats">go to the list chat</a><h4>
  <h4 id="rightAlign"><a href="/chats/new">create new chat</a><h4>
</div>
