<div class="container">
  <div class="col-md-2">
  </div>
  <div class="listChatContainer col-md-10">
    <div class="forTheList col-md-7">
      <% if (chatrooms.length > 0) { %>
        <% chatrooms.forEach(function (item, i) { %>
          <div id="listChat" class="col-md-8"><a href="/chats/<%= item._id %>"> Chat Room: <%= i %></a>
          <form method="POST" action="/chats/<%= item._id %>?_method=DELETE">
          <input type="hidden" name="id" value="<%= item._id %>">
          </div>
          <div class="col-md-4">
          <input class="btn btn-default" type="submit" value="Delete">
          </div>
          </form>
          <% }) %>
          <% } else { %>
            <h4> Oops, looks like you have no chatroom yet. </h4>
            <h4> Click create new chatroom to start! </h4>
            <% } %>
          </div>
          <div class="col-md-5" id="listChatImg">
          </div>
        </div>
      </div>
