<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <% chatrooms.forEach(function (item, i) { %>
      <form method="POST" action="/chats/<%= item._id %>?_method=DELETE">
      <div id="listChat" class="col-md-8"><a href="/chats/<%= item._id %>"> Chat Room: <%= i %></a>
      <input type="hidden" name="id" value="<%= item._id %>">
      </div>
      <div class="col-md-4">
      <input class="btn btn-default" type="submit" value="Delete">
      </div>
      </form>
      <% }) %>
    </div>
    <div class="col-md-4" id="listChatImg">
    </div>
    <div class="col-md-2">
    </div>
  </div>
